.fromto_container {
  background-image: linear-gradient(
    to right,
    #afeb82,
    #c3ec9a,
    #d4eeb3,
    #e2efcc,
    #eef1e7
  );
  padding: 100px 0px 0px;
  display: flex;
  flex-direction: column;

  height: calc(100vh - 180.8px);

  .heading {
    background-clip: text;
    h1 {
      text-align: center;
      font-weight: 900;
      font-size: 3rem;
      color: transparent;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }
  }
  .form_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;

      div {
        display: flex;
        gap: 20px;
        align-items: center;
        label {
          font-size: 2rem;
          font-weight: 500;
          width: 20%;
          color: salmon;
        }

        input {
          width: 100%;
          padding: 15px 10px;
          outline: none;
          border: none;
          font-size: 1.1rem;
        }
      }
      button {
        outline: none;
        border: none;
        text-align: center;
        background-color: dodgerblue;
        padding: 10px;
        cursor: pointer;
        font-size: 1.1rem;
        color: white;
      }
    }
  }
}
